<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Exercise App" subTitle="Sign up or Log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/homer.png" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Help Me create an exercise app</h1>
      <p>Add your favourite exercises!</p>
      {{> error }}
    </div>
  </div>
</div>
